:root[data-theme='default'] {
	// 头部
	--th-header-bg: #ffffff;
	--th-header-color: #303133;

	// 侧边栏
	--th-side-bg: #ffffff;
	--th-menu-icon-color: #333333;
	--th-menu-name-color: #333333;
	--th-menu-arrow-color: #333333;
	--th-menu-active-bg: rgb(186, 214, 244);
	--th-menu-active-color: #409eff;
}
