@font-face {
  font-family: AlibabaPuHuiTi-Regular;
  src: url("./assets/fonts/Alibaba-PuHuiTi-Regular.ttf");
}

@font-face {
  font-family: AlibabaPuHuiTi-Light;
  src: url("./assets/fonts/Alibaba-PuHuiTi-Light.ttf");
}

@font-face {
  font-family: AlibabaPuHuiTi-Medium;
  src: url("./assets/fonts/Alibaba-PuHuiTi-Medium.ttf");
}

@font-face {
  font-family: AlibabaPuHuiTi-Semibold;
  src: url("./assets/fonts/Alibaba-PuHuiTi-Semibold.ttf");
}


@font-face {
  font-family: AlibabaPuHuiTi-Bold;
  src: url("./assets/fonts/Alibaba-PuHuiTi-Bold.ttf");
}

@font-face {
  font-family: DINPro-Black;
  src: url("./assets/fonts/DINPro-Black.otf");
}

@font-face {
  font-family: DINPro-Bold;
  src: url("./assets/fonts/DINPro-Bold.otf");
}

@font-face {
  font-family: DINPro-Light;
  src: url("./assets/fonts/DINPro-Light.otf");
}

@font-face {
  font-family: DINPro-Medium;
  src: url("./assets/fonts/DINPro-Medium.otf");
}

@font-face {
  font-family: DINPro-Regular;
  src: url("./assets/fonts/DINPro-Regular.otf");
}


@font-face {
  font-family: PingFangSC-Regular;
  src: url("./assets/fonts/PingFangSC-Regular.ttf");
}

@font-face {
  font-family: PingFangSC-Ultralight;
  src: url("./assets/fonts/PingFangSC-Ultralight.ttf");
}

@font-face {
  font-family: PingFangSC-Thin;
  src: url("./assets/fonts/PingFangSC-Thin.ttf");
}

@font-face {
  font-family: PingFangSC-Light;
  src: url("./assets/fonts/PingFangSC-Light.ttf");
}

@font-face {
  font-family: PingFangSC-Medium;
  src: url("./assets/fonts/PingFangSC-Medium.ttf");
}

@font-face {
  font-family: PingFangSC-Semibold;
  src: url("./assets/fonts/PingFangSC-Semibold.ttf");
}